* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 2% 7%;
}

nav {
  min-width: 50%;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}

#hero {
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  padding: 2%;
}

#content {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  justify-content: center;
  align-items: center;
}

#content * {
  text-align: center;
  padding: 15px;
}

#content h1 {
  font-size: 30px;
}

#content button {
  padding: 10px 20px;
  background-color: #8eadd5;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

#hero img {
  width: 40%;
}

#companies {
  margin: 10vh;
}

#companies * {
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links img {
  width: 15vh;
}

.f {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10vh;
}

.column {
  display: flex;
  flex-direction: column;
  width: 25vh;
}

.column * {
  margin: 5%;
}

.Matheus {
  text-align: center;
}
